body {
    background-color: black;
   }
   h1 {
    color: white;
  
  }
  h2 {
    color: white;
  
  }
hr {
  background-color: white;
}


input[name="flexRadioDefault"] {

  accent-color: #00cc00;

}